:root {
  --button-background-color: #2baeff;
}

.card {
  border: 2px solid black;
}

.card-body {
  border-radius: 0 0 5px 5px;
}

.card-img-container {
  object-fit: "cover";
  height: "100%";
}

@media screen and (prefers-color-scheme: dark) {

  body,
  .card-body {
    background-color: black;
  }

  div .card-img-container {
    background-color: black;
  }

  .card {
    border: 2px solid white;
  }

  h2,
  h3,
  h4,
  p,
  label,
  .card-title {
    color: white;
  }
}