:root {
  --button-background-color: #2baeff;
}

.card {
  border: 2px solid black;
}

.card-body {
  border-radius: 0 0 5px 5px;
}

.card-img-container {
  object-fit: "cover";
  height: "100%";
}

.nav-link,
.nav-link.active {
  color: white !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  font-size: 30px;
}

.offcanvas {
  max-width: 75%;
}

.offcanvas {
  background-color: gray;
}

.project-title {
  width: 95%;
  margin: 0 auto;
}

@media screen and (prefers-color-scheme: dark) {

  body,
  .card-body {
    background-color: black;
  }

  div .card-img-container {
    background-color: black;
  }

  .card {
    border: 2px solid white;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  label,
  .card-title {
    color: white;
  }

  .btn-close {
    background-color: white;
  }

  .offcanvas {
    background-color: #212121;
  }
}